:root{
  --size:100px;
  --square: #342956;
  --correct: #6e50b4;
}

@import url('https://fonts.googleapis.com/css2?family=Pacifico&dilplay=swap');
html,body {
  background: #2F4F4F;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: 'Pacifico', cursive;
}

.App * {font-family: 'Pacifico' cursive;}